select.ui-select {
    cursor: pointer;
    padding: 8px;
    width: 100%;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #ffffff55;
    background-color: transparent;
    outline: none;
}