#app > header {
    display: flex;
    width: 100vw;
    min-height: 36px;
    align-items: center;
    justify-content: flex-end;
    -webkit-app-region: drag;

    .ui-button {
        margin-right: 12px;
        padding: 4px 8px;
        width: max-content;
        text-align: center;
        border: 1px solid var(--text-secondary);
        -webkit-app-region: no-drag;
    }

    .name {
        margin-right: 16px;
        font-size: 14px;
    }
}