#app > .panel-options {
    padding: 8px;
    max-width: 256px;
    min-width: 256px;
    height: calc(100% - 48px - 12px);
    position: absolute;
    top: 48px;
    right: 0;
    border-radius: 10px 0 0 10px;
    border: 1px solid var(--text-secondary);
    border-right: none;
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    transition: .2s;
    z-index: 100;
    overflow: hidden;
    
    &:not(:hover) {
        transform: translateX(calc(100% - 8px));
        opacity: .1;
    }

    .wallpaper-preview {
        height: auto;
    }

    .name {
        margin: 8px 0;
        padding-bottom: 8px;
        max-width: 100%;
        font-weight: 600;
        border-bottom: 1px solid var(--text-secondary);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}